%heading_1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
}

%paragraph_text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

%nav_text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
  }

  .section {
      width: 90%;
      max-width: 864px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .topnav {
    overflow: hidden;
    background-color: transparent;
    list-style-type: none;
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
    
  .topnav a {
    @extend %nav_text;
    text-decoration: none;
  }
    
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
    
  .topnav .icon {
    display: none;
  }
    
  @media screen and (max-width: 400px) {
    .topnav a {
      display: none;
    }
  
    .topnav a.icon {
      display: block;
    }
  
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }