%heading_1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  margin-block-start: 0;
  margin-block-end: 0;
}

%paragraph_text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 45px;
}

%nav_text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

body {
    margin: 0;
    background-color: black;
    color: white;
  }

  .section {
      width: 90%;
      max-width: 864px;
      height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &_text {
        max-width: 574px;
        width: 100%;

        & h1 {
          @extend %heading_1;
        }

        & p {
          @extend %paragraph_text;
        }
      }

      &_pic {
        width: 100%;
        min-height: 328px;
        height: 100%;
        background-image: url(../images/Image_desktop.png);
        background-size: cover;
        background-position: center;
      }
  }

  .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: auto;
  }

  .logo {
    font-size: 30px;

    & span {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 102px;
      letter-spacing: -2px;
      margin-left: 10px;
    }
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    list-style-type: none;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .topnav {
    @extend %nav_text;
    overflow: hidden;
    background-color: transparent;
    list-style-type: none;
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
    
  .topnav a {
    @extend %nav_text;
    text-decoration: none;
  }
    
  .topnav a:hover {
    font-weight: bold;
    color: whitesmoke;
  }
    
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .section_pic {
      background-image: url(../images/Image_tablet.png);
    }
  }
    
  @media screen and (max-width: 446px) {
    .topnav {
      width: 100%;
    }

    .topnav a {
      display: none;
    }
  
    .topnav a.icon {
      display: block;
    }
  
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .section_text h1 {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.8px;
    }

    .section_text p {
      font-size: 12px;
      line-height: 18px;
    }
  }

  @media screen and (max-width: 320px) {
    .section_pic {
      background-image: url(../images/Image_mobile.png);
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }